<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nossa Senhora da Assunção</title>
    <link rel="stylesheet" href="public/styles.css">


    <link rel="icon" type="image/x-icon" href="https://images.vexels.com/content/202484/preview/autumn-leaf-branch-cartoon-50befa.png">



</head>
<body>
    <header>
        <a href="/">entrar</a>
        <span class="divisor">|</span>
        <a href="">cadastrar</a>
    </header>

    <div class="banner">
        <h1>Nossa senhora da Assunção</h1>
        <div>
            <img src="https://arquidiocesejuizdefora.org.br/wp-content/uploads/2020/08/maxresdefault.jpg" alt="imagem-da-nossa-senhora">
        </div>
    </div>

    <nav>
        <a href="#calendar">calendário</a>
        <span class="divisor">|</span>
        <a href="#associates">associados</a>
        <span class="divisor">|</span>
        <a href="#pictures">fotos</a>
        <span class="divisor">|</span>
        <a href="#lectures">leituras</a>
    </nav>

    <section id="calendar">
        <h2>Calendário</h2>
        <span>Um texto aqui</span>
    </section>

    <section id="associates">
        <h2>Associados</h2>
        <span>Um texto aqui</span>
    </section>


    <section id="pictures">
        <h2>Fotos</h2>
        <span>Um texto aqui</span>
    </section>


    <section id="lectures">
        <h2>Passagens</h2>
        <span>Um texto aqui</span>
    </section>
</body>
</html>